* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


/* BODY */
body {
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
header {
    background: black;
    color: white;
    padding: 25px;
    margin-bottom: 30px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

/* CONTAINER */
.container {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

/* PROBLEMAS */
.problema {
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
}

/* TÍTULO DO PROBLEMA */
.problema summary {
    padding: 18px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    list-style: none;
    transition: background 0.2s ease, color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Remover seta padrão */
summary::-webkit-details-marker {
    display: none;
}

/* ÍCONE DA SETA */
.problema summary::after {
    content: "▶";
    font-size: 16px;
    transition: transform 0.25s ease;
}

/* Hover no título */
.problema summary:hover {
    background: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* Quando o problema está aberto, gira a seta */
.problema[open] summary::after {
    transform: rotate(90deg);
}

/* CONTEÚDO EXPANDIDO */
.conteudo {
    padding: 15px 20px 25px;
    border-top: 1px solid #ddd;
    animation: slideDown 0.9s ease;
}

/* Animação */
@keyframes slideDown {
    from { opacity: 0; transform: translateY(-3px); }
    to { opacity: 1; transform: translateY(0); }
}

/* IMAGENS */
.conteudo img {
    margin-top: 10px;
    max-width: 170px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


/*        BOTÃO COPIAR           */


.copiar {
    margin: 0 20px 20px;      
    padding: 10px 16px;
    float: right;
    background: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.2s ease, transform 0.1s ease;
}

.copiar:hover {
    background: #2d4ed8;
    transform: scale(1.03);
}

.copiar:active {
    transform: scale(0.97);
}
.status-copiar {
    font-size: 14px;
    color: green;
    font-weight: bold;
    margin-left: 8px;
}

/* FOOTER */
footer {

    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background: #222;
    color: white;
}
